.listing-container {
  padding: 16px 18px; /* 👈 content padding تھوڑا ہور کم */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  margin-top: 14px;
}

.listing-title {
  margin-bottom: 14px !important;
  font-size: 16px !important;
  color: #333;
  font-weight: 600;
}


.ant-table-tbody > tr > td {
  padding: 10px 10px !important; 
  font-size: 12.5px !important;
}

.ant-table-thead > tr > th {
  padding: 10px 10px !important;
  font-size: 12.5px !important;
  background: #fafafa !important;
}

.listing-text {
  font-size: 12.5px;
  color: #444;
}

.listing-tag {
  font-size: 11.5px !important;
  padding: 2px 8px !important;
  border-radius: 6px !important;
}

.listing-btn {
  font-size: 11.5px !important;
  border-radius: 5px !important;
  padding: 2px 8px !important;
}

.approve-btn {
  background-color: #1677ff !important;
  border: none !important;
}

.delete-btn {
  border: none !important;
}

.hover-row:hover {
  background-color: #f5f6f7 !important;
  transition: background 0.3s ease;
}
